@charset "utf-8";

@import "";


.courses {
	width: 100% !important;
	height: 900px !important;
	background-color: #F2EFEF !important;
}

.courses-search-bg{
	width: 100% !important;
	height: 90px !important;
	background: rgb(149,148,148);
    background: linear-gradient(180deg, rgba(149,148,148,1) 0%, rgba(255,187,187,1) 100%);
}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}
.courses-search-bg input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
	margin: 8px 18px !important;
	
}
.courses-search-bg input[type=search] {
	background-color: #f1f1f1;
	width: 900px !important;
	height: 50px !important;
	border-radius: 47px !important;
	text-align: center !important;
	margin: 20px 35rem !important;
}

.courses-search-bg::-webkit-input-placeholder {
	font-family: FontAwesome;
	overflow: visible;
	display: inline-block !important;
}

.courses-search-bg input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
}
.courses-search-bg .autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}
.courses-search-bg .autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #FFF;
	border-bottom: 1px solid #d4d4d4;
	color: #EB4C5E !important;
}
.courses-search-bg .autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #EB4C5E;
	color: #FFF !important;
}
.courses-search-bg .autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}

.courses h5{
	font-family: "Segoe UI", sans-serif;
	text-align: center !important;
	padding-top: 22px !important;
	font-size: 28px !important;
	color: #707070 !important;
	text-transform: uppercase;
	font-weight: 500 !important;
}

.courses-card {
	max-width: 100% !important;
	height: 560px !important;
	display: flex;
	flex-direction: column !important;
	background-image: url("../images/courses@2x.png");
	background-repeat: no-repeat !important;
}

.courses-card h4 {
	max-width: 100% !important;
	font-family: "Segoe UI", sans-serif;
	text-align: center !important;
	font-size: 20px !important;
	color: #FAFAFA !important;
	text-transform: uppercase;
	padding-top: 5rem !important;
	margin-left: 5rem !important;
	margin-right: 9rem !important;
	float: left !important;
}

.courses-card h6 {
	max-width: 100% !important;
	font-family: "Segoe UI", sans-serif;
	text-align: center !important;
	font-size: 17px !important;
	color: #FAFAFA !important;
	text-transform: capitalize;
	padding-top: 1rem !important;
	margin-left: 5rem !important;
	margin-right: 9rem !important;
	float: left !important;
}

.courses-card p{
	padding-top: 4.49rem !important;
	font-family: "Segoe UI", sans-serif;
	text-align: center !important;
	font-size: 18px !important;
	color: #707070 !important;
	margin-left: 3.42rem !important;
	margin-right: 7rem !important;
	text-transform: capitalize;
	font-weight: 600 !important;
}

.courses h3 a, .courses h3 a:hover{
	text-align: center !important;
	font-family: "Segoe UI", sans-serif;
	font-size: 20px !important;
	font-weight: 600 !important;
	text-decoration: none !important;
	color: #F05F6F !important;
	margin: 0 auto !important;
	padding-left: 7.44rem !important;
}

.courses ul {
	list-style: none;
}

.courses ul li{
	display: block;
	float: left !important;
	font-size: 18px !important;
	text-align: right !important;
	padding: 10px 12px !important;
}

.courses ul li a{
	text-decoration: none !important;
	color: #707070 !important;
}

.courses ul li a:hover{
	text-decoration: none !important;
	color: #707070 !important;
}

.courses button {
	background-color: #707070 !important;
	border-radius: 38px !important;
	width: 191px !important;
	height: 40px !important;
	box-shadow: 0 0 0 0 transparent;
	margin: 20px 7rem !important;
}

.courses button a, .courses button a:hover{
	background-color: #707070 !important;
	border-radius: 38px !important;
	color: #FAFAFA;
	font-family: "Segoe UI", sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	text-transform: capitalize !important;
	max-width: 100% !important;
}
